@model LocationAlert.Client.Models.WeatherPreference


<h4>WeatherPreference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WeatherPreference">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PushAmount" class="control-label"></label>
                <input asp-for="PushAmount" class="form-control" />
                <span asp-validation-for="PushAmount" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <label for="temp-amount"><b>Temperature Preferences:</b></label>
                    <label>
                        <input asp-for="AlwaysTemp" /> @Html.DisplayNameFor(model => model.AlwaysTemp)
                    </label>
                </div>
                <p>
                    <input type="text" id="temp-amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="temp-range"></div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label for="rain-amount"><b>Rain Preferences:</b></label><br />
                    <label>
                        <input asp-for="AlwaysRain" /> @Html.DisplayNameFor(model => model.AlwaysRain)
                    </label>
                </div>
                <p>
                    <input type="text" id="rain-amount" readonly style="border:0; color:#291eff; font-weight:bold;">
                </p>
                <div id="rain-range"></div>
            </div>


            <div class="form-group">
                <label for="snow-amount"><b>Snow Preferences:</b></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="AlwaysSnow" /> @Html.DisplayNameFor(model => model.AlwaysSnow)
                    </label>
                </div>
                <p>
                    <input type="text" id="snow-amount" readonly style="border:0; color:#44e6ff; font-weight:bold;">
                </p>
                <div id="snow-range"></div>
            </div>


            <div class="form-group">
                <label for="cloud-amount"><b>Cloudiness Preferences:</b></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="AlwaysCloud" /> @Html.DisplayNameFor(model => model.AlwaysCloud)
                    </label>
                </div>
                <p>
                    <input type="text" id="cloud-amount" readonly style="border:0; color:#979899; font-weight:bold;">
                </p>
                <div id="cloud-range"></div>
            </div>


            <div class="form-group">
                <label for="wind-amount"><b>Wind Preferences:</b></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="AlwaysWind" /> @Html.DisplayNameFor(model => model.AlwaysWind)
                    </label>
                </div>
                <p>
                    <input type="text" id="wind-amount" readonly style="border:0; color:#cc46f4; font-weight:bold;">
                </p>
                <div id="wind-range"></div>
            </div>



            <div class="form-group">
                <label for="humidity-amount"><b>Humidity Preferences:</b></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="AlwaysHumidity" /> @Html.DisplayNameFor(model => model.AlwaysHumidity)
                    </label>
                </div>
                <p>
                    <input type="text" id="humidity-amount" readonly style="border:0; color:#00892d; font-weight:bold;">
                </p>
                <div id="humidity-range"></div>
            </div>

            <div class="form-group">
                <input type="button" value="Save" onclick="SaveValues();" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input type="submit" value="Back" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <!-- Sliders-->
    <script>
        $(function tempSlide() {
            $("#temp-range").slider({
                range: true,
                min: 0,
                max: 100,
                values: [25, 75],
                slide: function (event, ui) {
                    $("#temp-amount").val("Temperatures: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#temp-amount").val("Temperatures: " + $("#temp-range").slider("values", 0) +
                "- " + $("#temp-range").slider("values", 1));
        });

        $(function rainSlide() {
            $("#rain-range").slider({
                range: true,
                min: 0,
                max: 10,
                values: [2, 7],
                slide: function (event, ui) {
                    $("#rain-amount").val("Rain: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#rain-amount").val("Rain Severity: " + $("#rain-range").slider("values", 0) +
                "- " + $("#rain-range").slider("values", 1));
        });

        $(function snowSlide() {
            $("#snow-range").slider({
                range: true,
                min: 0,
                max: 10,
                values: [2, 7],
                slide: function (event, ui) {
                    $("#snow-amount").val("Snow Severity: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#snow-amount").val("Snow Severity: " + $("#snow-range").slider("values", 0) +
                "- " + $("#snow-range").slider("values", 1));
        });

        $(function cloudSlide() {
            $("#cloud-range").slider({
                range: true,
                min: 0,
                max: 10,
                values: [2, 7],
                slide: function (event, ui) {
                    $("#cloud-amount").val("Cloudiness Severity: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#cloud-amount").val("Cloudiness Severity: " + $("#cloud-range").slider("values", 0) +
                "- " + $("#cloud-range").slider("values", 1));
        });

        $(function windSlide() {
            $("#wind-range").slider({
                range: true,
                min: 0,
                max: 10,
                values: [2, 7],
                slide: function (event, ui) {
                    $("#wind-amount").val("Wind Severity: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#wind-amount").val("Wind Severity: " + $("#wind-range").slider("values", 0) +
                "- " + $("#wind-range").slider("values", 1));
        });

        $(function humiditySlide() {
            $("#humidity-range").slider({
                range: true,
                min: 0,
                max: 10,
                values: [2, 7],
                slide: function (event, ui) {
                    $("#humidity-amount").val("Humidity Severity: " + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#humidity-amount").val("Humidity Severity: " + $("#humidity-range").slider("values", 0) +
                "- " + $("#humidity-range").slider("values", 1));
        });

        function SaveValues() {
            $.ajax({
                url: '@Url.Action("SaveWeatherPreferences", "Account")',
                data: { PushAmount: $('#PushAmount').val(), TempMin: $("#temp-range").slider("values", 0), TempMax: $("#temp-range").slider("values", 1), RainMin: $("#rain-range").slider("values", 0), RainMax: $("#rain-range").slider("values", 1), SnowMin: $("#snow-range").slider("values", 0), SnowMax: $("#snow-range").slider("values", 1), CloudMin: $("#cloud-range").slider("values", 0), CloudMax: $("#temp-range").slider("values", 1), WindMin: $("#wind-range").slider("values", 0), WindMax: $("#wind-range").slider("values", 1), HumidityMin: $("#humidity-range").slider("values", 0), HumidityMax: $("#humidity-range").slider("values", 1), AlwaysTemp: $('#AlwaysTemp').prop('checked'), AlwaysRain: $('#AlwaysRain').prop('checked'), AlwaysSnow: $('#AlwaysSnow').prop('checked'), AlwaysCloud: $('#AlwaysCloud').prop('checked'), AlwaysWind: $('#AlwaysWind').prop('checked'), AlwaysHumidity: $('#AlwaysHumidity').prop('checked') },
                success: function(data) {
                    // It was successful
                    //
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // Error occurred
                    //alert(xhr.responseText);
                }
            })
            console.log($('#PushAmount').val())
        }
    </script>
}